
services:
  n8n:
    image: n8nio/n8n:latest
    user: root
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
    volumes:
      - ./n8n_data:/home/node/.n8n

  db_postgres:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: pwadmin
      POSTGRES_USER: admin
      POSTGRES_DB: db
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
